.BlogCard {
  height: auto; /* Make height responsive */
  max-width: 100%; /* Ensure it fits within the container */
  margin-bottom: 1rem; /* Add spacing between cards */
}

.BlogCard img {
  width: 100%;
  height: auto; /* Ensure image adjusts with container */
}

.BlogCard .content {
  padding: 1rem;
}

.BlogCard .title {
  font-size: 1.25rem;
  font-weight: bold;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
}

.BlogCard .description {
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
}

.BlogCard .button {
  padding: 0.5rem 1rem;
  font-size: 0.875rem;
}

@media (max-width: 768px) {
  .BlogCard {
    flex-basis: 100%; /* Make cards full-width on small screens */
    margin-bottom: 1.5rem;
  }
}

.nav-overlay {
  z-index: 10; /* Ensure it's above the hero section */
  position: fixed; /* Keep the menu fixed in place when opened */
  top: 0;
  left: 0;
  width: 100%;
}
